# Set up

In [1]:
import pandas as pd

# Input Arguments

In [2]:
NUM_SAMPLE_BIZ = 400
DATASET_DP = f'../data/yelp_dataset/sample/sample_{NUM_SAMPLE_BIZ}_biz'

# Load data

In [3]:
# Load reviews
review_df = pd.read_parquet(f"{DATASET_DP}/yelp_academic_dataset_review_sample_{NUM_SAMPLE_BIZ}_biz.parquet")

In [4]:
review_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,40thYphUgIfvJq17QCfTwA,QzCEzH3R7Z6erOGLr3t55Q,0pMj5xUAecW9o1P35B0AMw,5,1,0,1,Great staff always helps and always nice. Alwa...,2017-05-26 13:10:24
1,L0jv8c2FbpWSlfNC6bbUEA,bFPdtzu11Oi0f92EAcjqmg,IDtLPgUrqorrpqSLdfMhZQ,5,0,0,0,What a great addition to the Funk Zone! Grab ...,2016-10-13 22:50:47
2,JBWZmBy69VMggxj3eYn17Q,aFa96pz67TwOFu4Weq5Agg,kq5Ghhh14r-eCxlVmlyd8w,5,0,0,0,My boyfriend and I tried this deli for the fir...,2018-08-23 21:39:38
3,jC-fGfx-YLqxVBcyTAd4Pw,EBa-0-6AKoy6jziNexDJtg,W4ZEKkva9HpAdZG88juwyQ,3,0,0,0,"In a word... ""OVERRATED!"". The food took fore...",2013-12-29 02:37:42
4,4zopEEPqfwm-c_FNpeHZYw,JYYYKt6TdVA4ng9lLcXt_g,SZU9c8V2GuREDN5KgyHFJw,5,0,0,0,We were a bit weary about trying the Shellfish...,2016-05-31 02:14:54
...,...,...,...,...,...,...,...,...,...
37276,KFGwRU0cD7AKUyMpa19bHg,CBHpTYlMeG6kMo0a7LODkA,gyUBYwpUO_u0nqZdre4l1g,4,6,3,5,"In case you guys don't know, I've been on a Ch...",2017-09-12 00:10:58
37277,KIO40b2aN1GFwCtsCih3tw,ueRPE0CX75ePGMqOFVj6IQ,TLZ3-eDPLhUzfsWO4ad6Ug,5,3,1,3,This place was ABSOLUTELY fantastic. I am not ...,2019-09-25 15:48:16
37278,gIuVPPnEjFO6TYpdKHl-WA,TtuLyYy4Gf41XA2JUQgY8A,TGfPJHImEq6AQL9a1laxlg,1,2,0,0,After tonight's experience I will not be back ...,2017-11-04 01:20:55
37279,rlDUP5rfoJYoab0Raj71VQ,lhTCrBZO3BF9beho8vPXAw,SZU9c8V2GuREDN5KgyHFJw,5,1,0,1,Absolutely love this place! From the service t...,2018-11-27 22:22:09
37280,rT1xsfmuaQWCcgKcA-NJXw,DgmvcnJT9G2O0FdxtpEO-w,TJe1ZGe-X0-GjOQd00kKxA,3,3,0,0,"I heard about this place from a coworker, who ...",2019-09-15 16:36:26

# Load business

In [5]:
# Load businesses
business_df = pd.read_parquet(f"{DATASET_DP}/yelp_academic_dataset_business_sample_{NUM_SAMPLE_BIZ}_biz.parquet")
business_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,4fUok5d5vgdQEb1Bzzg0rA,Olive Garden Italian Restaurant,1315 W Esplanade Ave,Kenner,LA,70065,30.020005,-90.249349,3.5,115,1,"{'Alcohol': 'u'full_bar'', 'Ambience': '{'tour...","Restaurants, Italian, Soup, Bars, Salad, Night...","{'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '..."
1,PYW8Buz8S8LpjIe6mZTAcw,Payless Liquors,954 N State Rd 135,Greenwood,IN,46143,39.632280,-86.158674,3.5,13,1,"{'Alcohol': None, 'Ambience': None, 'BYOB': No...","Food, Beer, Wine & Spirits",None
2,dChRGpit9fM_kZK5pafNyA,The Love,130 S 18th St,Philadelphia,PA,19103,39.950656,-75.170899,4.0,618,1,"{'Alcohol': 'u'full_bar'', 'Ambience': '{'tour...","Restaurants, American (New), Breakfast & Brunc...","{'Friday': '16:0-21:0', 'Monday': '0:0-0:0', '..."
3,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,10440 N Dale Mabry Hwy,Tampa,FL,33618,28.046203,-82.505053,4.0,23,0,"{'Alcohol': 'u'full_bar'', 'Ambience': '{'roma...","Restaurants, American (New), Italian","{'Friday': '11:30-22:0', 'Monday': '11:30-21:0..."
4,l7gFSHojInQCglAVbv2_FQ,Tony luke's,222 Rowan Blvd,Glassboro,NJ,08028,39.705390,-75.113693,2.5,20,0,"{'Alcohol': 'u'none'', 'Ambience': '{'romantic...","Restaurants, Sandwiches, Cheesesteaks","{'Friday': '11:0-22:0', 'Monday': '11:0-20:0',..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Zj5PX3ZE4V6DB4XqP3HfcQ,Edible Arrangements,1259 Blackwood Clementon Rd,Clementon,NJ,08021,39.805037,-75.027507,2.5,6,1,None,"Gift Shops, Flowers & Gifts, Food, Florists, C...",None
396,bf34LpGej_MZbOlAKB1beQ,Sherbrooke Liquor Store,11819 Saint Albert Trail NW,Edmonton,AB,T5L 5B5,53.571086,-113.548768,4.5,77,1,"{'Alcohol': None, 'Ambience': None, 'BYOB': No...","Beer, Wine & Spirits, Food","{'Friday': '10:0-20:0', 'Monday': '10:0-20:0',..."
397,wCgIJhH_CTuwsSZPcafkng,Dunkin' Donuts,4225 S E St,Indianapolis,IN,46227,39.703887,-86.148302,2.0,19,0,"{'Alcohol': 'u'none'', 'Ambience': None, 'BYOB...","Food, Donuts, Coffee & Tea",None
398,ljxNT9p0y7YMPx0fcNBGig,Tony's Restaurant & 3rd Street Cafe,312 Piasa St,Alton,IL,62002,38.896563,-90.186203,3.0,94,1,"{'Alcohol': 'u'full_bar'', 'Ambience': '{'tour...","Restaurants, Specialty Food, Steakhouses, Food...","{'Friday': '16:0-22:0', 'Monday': '0:0-0:0', '..."
399,JQ75_672GKJQ3tK1togIWw,Golden Capital Restaurant,180 - 1020 Sherwood Drive,Sherwood Park,AB,T8A 2G4,53.512604,-113.317912,3.5,8,1,"{'Alcohol': None, 'Ambience': None, 'BYOB': No...","Chinese, Specialty Food, Food, Event Planning ...",None

# Join review and business

In [6]:
denom_df = (
    pd.merge(
        # TODO: Fix duplicated columns
        review_df.rename(columns={'stars': 'review_stars'}),
        # business_df.rename(columns={'stars': 'business_avg_stars'}),
        business_df.add_prefix("biz_").rename(columns={'biz_business_id': 'business_id'}),
        how='left',
        on='business_id',
        validate='m:1'
    )
)

denom_df

,review_id,user_id,business_id,review_stars,useful,funny,cool,text,date,biz_name,...,biz_state,biz_postal_code,biz_latitude,biz_longitude,biz_stars,biz_review_count,biz_is_open,biz_attributes,biz_categories,biz_hours
0,40thYphUgIfvJq17QCfTwA,QzCEzH3R7Z6erOGLr3t55Q,0pMj5xUAecW9o1P35B0AMw,5,1,0,1,Great staff always helps and always nice. Alwa...,2017-05-26 13:10:24,Wawa,...,PA,19403,40.141292,-75.389286,3.5,8,1,"{'Alcohol': None, 'Ambience': None, 'BYOB': No...","Food, Coffee & Tea, Gas Stations, Restaurants,...","{'Friday': '0:0-0:0', 'Monday': '0:0-0:0', 'Sa..."
1,L0jv8c2FbpWSlfNC6bbUEA,bFPdtzu11Oi0f92EAcjqmg,IDtLPgUrqorrpqSLdfMhZQ,5,0,0,0,What a great addition to the Funk Zone! Grab ...,2016-10-13 22:50:47,Helena Avenue Bakery,...,CA,93101,34.414445,-119.690672,4.0,389,1,"{'Alcohol': 'u'none'', 'Ambience': '{'touristy...","Food, Restaurants, Salad, Coffee & Tea, Breakf...","{'Friday': '8:0-14:0', 'Monday': '0:0-0:0', 'S..."
2,JBWZmBy69VMggxj3eYn17Q,aFa96pz67TwOFu4Weq5Agg,kq5Ghhh14r-eCxlVmlyd8w,5,0,0,0,My boyfriend and I tried this deli for the fir...,2018-08-23 21:39:38,The Coventry Deli,...,PA,19103,39.953291,-75.173645,4.0,65,1,"{'Alcohol': 'u'none'', 'Ambience': '{'touristy...","Restaurants, Delis, Salad, Sandwiches","{'Friday': '6:0-15:0', 'Monday': '6:0-15:0', '..."
3,jC-fGfx-YLqxVBcyTAd4Pw,EBa-0-6AKoy6jziNexDJtg,W4ZEKkva9HpAdZG88juwyQ,3,0,0,0,"In a word... ""OVERRATED!"". The food took fore...",2013-12-29 02:37:42,Mr. B's Bistro,...,LA,70130,29.954387,-90.068363,4.0,2064,1,"{'Alcohol': ''full_bar'', 'Ambience': '{'roman...","Bars, Breakfast & Brunch, Restaurants, Barbequ...","{'Friday': '11:30-20:0', 'Monday': None, 'Satu..."
4,4zopEEPqfwm-c_FNpeHZYw,JYYYKt6TdVA4ng9lLcXt_g,SZU9c8V2GuREDN5KgyHFJw,5,0,0,0,We were a bit weary about trying the Shellfish...,2016-05-31 02:14:54,Santa Barbara Shellfish Company,...,CA,93101,34.408715,-119.685019,4.0,2404,1,"{'Alcohol': ''beer_and_wine'', 'Ambience': '{'...","Live/Raw Food, Restaurants, Seafood, Beer Bar,...","{'Friday': '11:0-21:0', 'Monday': '0:0-0:0', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37276,KFGwRU0cD7AKUyMpa19bHg,CBHpTYlMeG6kMo0a7LODkA,gyUBYwpUO_u0nqZdre4l1g,4,6,3,5,"In case you guys don't know, I've been on a Ch...",2017-09-12 00:10:58,Shanghai Express,...,NJ,08053,39.916113,-74.921519,4.0,74,1,"{'Alcohol': 'u'none'', 'Ambience': '{'romantic...","Chinese, Restaurants","{'Friday': '11:0-22:30', 'Monday': '11:0-21:30..."
37277,KIO40b2aN1GFwCtsCih3tw,ueRPE0CX75ePGMqOFVj6IQ,TLZ3-eDPLhUzfsWO4ad6Ug,5,3,1,3,This place was ABSOLUTELY fantastic. I am not ...,2019-09-25 15:48:16,Mahony's Po-Boys & Seafood,...,LA,70112,29.955415,-90.070062,4.0,382,1,"{'Alcohol': ''full_bar'', 'Ambience': '{'touri...","Restaurants, Seafood, Cajun/Creole","{'Friday': '12:0-20:0', 'Monday': '0:0-0:0', '..."
37278,gIuVPPnEjFO6TYpdKHl-WA,TtuLyYy4Gf41XA2JUQgY8A,TGfPJHImEq6AQL9a1laxlg,1,2,0,0,After tonight's experience I will not be back ...,2017-11-04 01:20:55,Chick-fil-A,...,PA,19114,40.081780,-75.026791,4.0,80,1,"{'Alcohol': 'u'none'', 'Ambience': '{'romantic...","Event Planning & Services, American (Tradition...","{'Friday': '6:30-22:0', 'Monday': '0:0-0:0', '..."
37279,rlDUP5rfoJYoab0Raj71VQ,lhTCrBZO3BF9beho8vPXAw,SZU9c8V2GuREDN5KgyHFJw,5,1,0,1,Absolutely love this place! From the service t...,2018-11-27 22:22:09,Santa Barbara Shellfish Company,...,CA,93101,34.408715,-119.685019,4.0,2404,1,"{'Alcohol': ''beer_and_wine'', 'Ambience': '{'...","Live/Raw Food, Restaurants, Seafood, Beer Bar,...","{'Friday': '11:0-21:0', 'Monday': '0:0-0:0', '..."
37280,rT1xsfmuaQWCcgKcA-NJXw,DgmvcnJT9G2O0FdxtpEO-w,TJe1ZGe-X0-GjOQd00kKxA,3,3,0,0,"I heard about this place from a coworker, who ...",2019-09-15 16:36:26,Brixx Craft House,...,ID,83714,43.671633,-116.283591,4.0,115,1,"{'Alcohol': 'u'full_bar'', 'Ambience': '{u'div...","American (Traditional), Pubs, Sports Bars, Nig...","{'Friday': '11:30-22:0', 'Monday': '0:0-0:0', ..."

In [7]:
denom_df.sample(10000).describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
review_id,10000,10000,xHC6win62E2pH5zeRJCRGA,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_id,10000,9636,B-s-8VUnuBjGTP3d01jsyw,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
business_id,10000,389,SZU9c8V2GuREDN5KgyHFJw,661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_stars,10000.0,NaN,NaN,NaN,3.8192,1.0,3.0,4.0,5.0,5.0,1.365466
useful,10000.0,NaN,NaN,NaN,0.9179,0.0,0.0,0.0,1.0,44.0,1.951394
funny,10000.0,NaN,NaN,NaN,0.2638,0.0,0.0,0.0,0.0,25.0,1.023579
cool,10000.0,NaN,NaN,NaN,0.432,0.0,0.0,0.0,0.0,32.0,1.386928
text,10000,9996,I had the most wonderful experience today at E...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date,10000,NaN,NaN,NaN,2016-12-29 19:05:41.019500032,2006-08-01 19:01:23,2014-12-30 01:45:50.249999872,2017-06-20 17:15:49,2019-05-15 18:16:14.750000128,2022-01-17 22:25:47,NaN
biz_name,10000,362,Santa Barbara Shellfish Company,661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
biz_address,10000,384,230 Stearns Wharf,661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
biz_city,10000,146,Philadelphia,1247,NaN,NaN,NaN,NaN,NaN,NaN,NaN
biz_state,10000,14,PA,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
biz_postal_code,10000,256,93101,925,NaN,NaN,NaN,NaN,NaN,NaN,NaN
biz_latitude,10000.0,NaN,NaN,NaN,35.971419,27.713401,32.149473,36.211592,39.925089,53.625071,4.992029
biz_longitude,10000.0,NaN,NaN,NaN,-91.602247,-119.882367,-90.503565,-86.776137,-82.350056,-74.753212,15.574178
biz_stars,10000.0,NaN,NaN,NaN,3.80695,1.0,3.5,4.0,4.0,5.0,0.596357
biz_review_count,10000.0,NaN,NaN,NaN,550.3177,5.0,100.0,246.0,592.0,2404.0,722.041771
biz_is_open,10000.0,NaN,NaN,NaN,0.8218,0.0,1.0,1.0,1.0,1.0,0.3827
biz_attributes,9921,381,"{'Alcohol': ''beer_and_wine'', 'Ambience': '{'...",661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
biz_categories,10000,339,"Live/Raw Food, Restaurants, Seafood, Beer Bar,...",661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
biz_hours,9731,308,"{'Friday': '11:0-21:0', 'Monday': '0:0-0:0', '...",661,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Persist data

In [8]:
DENOM_REVIEW_FP = f'{DATASET_DP}/denom_review.parquet'
denom_df.to_parquet(DENOM_REVIEW_FP, index=False)